@import "common";

html {
    font-size: 10px;
}

// header

.header-inner {
    width: 100%;
    position: fixed;
    z-index: 999;
    .header-top {
        width: 100%;
        height: 4.2rem;
        background: #222222;
        ul {
            max-width: 1440px;
            height: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            gap: 4.2rem;
            li {
                a{
                    font-family: $spoqa;
                    font-weight: 900;
                    font-size: 1.6rem;
                    color: $white;
                }::before {
                    content: url(../images/include/mini_logo.png);
                    margin-right: 3px;
                }
            }
        }
    }
    .gnb-wrap {
        width: 100%;
        background: $white;
        .gnb {
            position: relative;
            max-width: 1440px;
            margin: 0 auto;
            height: 8.2rem;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            .logo {
                width: 8.7rem;
                height: 2.9rem;
                margin-right: 5.5rem;
                a {
                    img {
                        height: 100%;
                    }
                }
            }
            nav {
                ul {
                    display: flex;
                    flex-direction: row;
                    gap: 7.6rem;
                    li {
                        a {
                            font-family: $spoqa;
                            font-weight: 500;
                            font-size: 2rem;
                            color: #222222;
                        }
                    }
                }
            }
            .assist {
                position: absolute;
                right: 0;
                display: flex;
                flex-direction: row;
                gap: 3.8rem;
                height: 3.8rem;
                button {
                    background: transparent;
                    border: none;
                    font-family: $spoqa;
                    font-weight: 500;
                    font-size: 2rem;
                    color: $black;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .language::before {
                    content: url(../images/include/language_icon.png);
                    // padding-top: 2px;
                    margin-right: 8px;
                    width: 24px;
                    height: 24px;
                }
                .search::before {
                    content: url(../images/include/search_icon.png);
                    margin-right: 8px;
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
    .header-bottom {
        width: 100%;
        height: 4.8rem;
        background: $white;
        border-top: 1px solid #DDDDDD;
        border-bottom: 1px solid #DDDDDD;
        display: flex;
        align-items: center;
        justify-content: center;
        ul {
            width: 1440px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 3rem;
            li {
                a {
                    font-family: $spoqa;
                    font-weight: 700;
                    font-size: 1.6rem;
                    color: #AAAAAA;
                }
            }
            li:nth-of-type(1) {
                a {
                    font-weight: 700;
                    color: #222222;
                }
            }
        }
    }
}


// footer